
* {
    box-sizing: border-box;
}

hr {
    width: 75%;
}

h1, h2, h3, p {
    font-family: $header_font;
    color: black;
}



// Gallery

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 85%;
    }

    li {
        list-style-type: none;

    }
}
