
* {
    box-sizing: border-box;
}

hr {
    width: 75%;
}

.header {
    padding: 15em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    align-items: center;
    font-family: $header_font;
    background-size: cover;
    color: white;


    h1 {
        margin-bottom: 0;
        color: black;
    }

    h2 {
        margin: 10px 0 20px 0px;
        color: black;
    }

    // h3 {
    //     font-size: 10px;
    //     margin-top: .75em;
    // }

    a {
        text-decoration: none;
    }

    .nav {
        list-style-type: none;
        padding-left: 0;
    }
}

footer {

    ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    li {
        list-style-type: none;
        // padding-left: 0;
        margin: .25em;

        img {
            width: 25px;
        }
    }

    p {
        text-align: center;
        font-size: 12px;
    }

}
