
* {
    box-sizing: border-box;
}

.main-page {
    background-image: url("../img/test.jpeg");
    background-size: cover;
    background-position: center;
}

hr {
    width: 75%;
}

h1, h2, h3, p {
    font-family: $header_font;
    color: black;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 0 .75em;
}

.background {
    background: linear-gradient(0deg, bisque, white);
}

// Gallery

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 85%;
    }

    li {
        list-style-type: none;

    }
}

.icon-source {
    font-size: 9px;
    text-align: center;
}
// About Page

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .about-photo {
        width: 35%;
        border-style: none;
        border-radius: 15em;
    }
}
