* {
  box-sizing: border-box; }

.main-page {
  background-image: url("../img/test.jpeg");
  background-position: center; }

hr {
  width: 75%; }

h1, h2, h3, p {
  font-family: "Cormorant SC", serif;
  color: black; }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  padding: 0 .75em; }

.background {
  background: linear-gradient(0deg, bisque, white); }

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .images img {
    width: 85%; }
  .images li {
    list-style-type: none; }

.icon-source {
  font-size: 9px;
  text-align: center; }

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-wrapper .about-photo {
    width: 35%;
    border-style: none;
    border-radius: 15em; }

.header {
  padding: 15em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20em;
  align-items: center;
  font-family: "Cormorant SC", serif; }
  .header h1 {
    margin-bottom: 0;
    padding-left: 1em; }
    .header h1 a:hover {
      color: rgba(0, 0, 225, 0.5);
      transform: scale(10);
      transition: color 0.7s ease-in; }
  .header h2 {
    margin: 10px 0 10px 0px;
    color: white;
    padding-right: 1em; }
  .header li:hover {
    transform: scale(1.2);
    transition: transform .25s ease-in; }
  .header a {
    text-decoration: none;
    color: white; }
    .header a:hover {
      color: rgba(0, 0, 225, 0.5);
      transform: scale(10);
      transition: color 0.7s ease-in; }
  .header .nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }

.header2 {
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-family: "Cormorant SC", serif;
  align-items: center; }
  @media (min-width: 768px) {
    .header2 {
      flex-direction: row; } }
  .header2 h1 {
    align-self: center;
    padding-left: 1em; }
    .header2 h1 a {
      text-decoration: none;
      color: black; }
      .header2 h1 a:hover {
        color: rgba(0, 0, 225, 0.5);
        transform: scale(10);
        transition: color 0.7s ease-in; }
  .header2 ul {
    display: block;
    margin: auto;
    padding: 0;
    padding-right: 1em; }
    @media (min-width: 768px) {
      .header2 ul {
        display: flex;
        margin: 0 0 0 auto; } }
    .header2 ul li {
      list-style-type: none; }
      @media (min-width: 768px) {
        .header2 ul li {
          margin: 0 .25em; } }
      .header2 ul li a {
        color: black;
        text-decoration: none; }
      .header2 ul li a:hover {
        text-decoration: none;
        color: rgba(0, 0, 225, 0.5);
        transform: scale(10);
        transition: color 0.7s ease-in; }

footer {
  margin-top: auto; }
  footer ul {
    display: flex;
    justify-content: center;
    padding-left: 0; }
    footer ul li {
      list-style-type: none;
      margin: .25em; }
      footer ul li img {
        width: 25px; }
        @media (min-width: 768px) {
          footer ul li img {
            width: 35px; } }
        @media (min-width: 1024px) {
          footer ul li img {
            width: 50px; } }
      footer ul li:hover img {
        background: rgba(0, 0, 255, 0.5);
        transition: background 1s ease-in;
        transform: scale(1.8) rotate(5deg); }
      footer ul li .social-icon {
        border-radius: 25px; }
  footer p {
    text-align: center;
    font-size: 12px; }

.images li {
  margin: 1em; }
.images img {
  width: 250px;
  height: 250px; }
  @media (min-width: 768px) {
    .images img {
      width: 350px;
      height: 450px; } }
  @media (min-width: 1024px) {
    .images img {
      width: 400px;
      height: 500px; } }

#overlay {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  display: none;
  z-index: 2;
  justify-content: center;
  align-items: center; }
  #overlay img {
    margin: auto;
    height: 450px;
    width: 350px;
    position: fixed; }
    @media (min-width: 768px) {
      #overlay img {
        width: 500px;
        height: 600px; } }

#arrows {
  display: flex;
  position: fixed;
  right: 48%;
  left: 48%;
  bottom: 50%;
  top: 50%;
  z-index: 3; }
  #arrows #rightArrow,
  #arrows #leftArrow {
    position: fixed;
    display: none; }
    #arrows #rightArrow:hover,
    #arrows #leftArrow:hover {
      cursor: pointer; }
  #arrows #leftArrow {
    left: 0.01em; }
    @media (min-width: 768px) {
      #arrows #leftArrow {
        left: 2em; } }
    @media (min-width: 1024px) {
      #arrows #leftArrow {
        left: 7em; } }
  #arrows #rightArrow {
    right: 0.01em; }
    @media (min-width: 768px) {
      #arrows #rightArrow {
        right: 2em; } }
    @media (min-width: 1024px) {
      #arrows #rightArrow {
        right: 7em; } }

/*# sourceMappingURL=application.css.map */
