
    footer {
        margin-top: auto;

        ul {
            display: flex;
            justify-content: center;
            padding-left: 0;
            li {
                list-style-type: none;
                // padding-left: 0;
                margin: .25em;
                &:hover {
                        #svg {
                            fill: orange;
                        }
                    }
                svg {
                    width: 25px;
                    height: 25px;
                    @include media-query($tablet) {
                        width: 25px;
                        height: 25px;
                    }
                    @include media-query($desktop) {
                        width: 25px;
                        height: 25px;
                    }
                }
                .social-icon {
                    border-radius: 25px;
                }
            }
        }
        p {
            text-align: center;
            font-size: 12px;
        }

        #icon-source {
            text-align: center;
            font-size: 8px;

            a {
                text-decoration: none;
                color: black;
            }
        }

    }

    .main {
        p {
            color: black;
        }
    }
